<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
    <style>
        a{
            color: white;
        }
        body {
            background: rgb(112, 176, 255);
            text-align: center;
        }

    </style>
    <title>Home</title>
</head>
<body>
    <div class="col-12">
        <h1>Welcome, {{user.first_name}}!</h1>
        <h3>Your information:</h3>
        <ul>
          <p>Email: {{user.email}}</p>
          <p>First Name:{{user.first_name}}</p>
          <p>Last Name:{{user.last_name}}</p>
        </ul>
        <button type="submit" class="btn btn-primary"><a href="/logout">logout</a></button>
        <button type="submit" class="btn btn-primary"><a href="/quotes">My Dashboard</a></button>
    </div>
</body>
</html>